FLASK_APP=backend.py
FLASK_ENV=development
SECRET_KEY=MediVet_5
CORS_ORIGIN=http://localhost:3000
BACKEND_PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=admin482
DB_NAME=MediVet
NEXT_PUBLIC_API_URL=http://127.0.0.1:5000/api
